@charset 'UTF-8';

.member_register_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.member_register_tbl td{
	border-top:2px solid #666;
    height: 30px;
}

.member_modify_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.member_modify_tbl td{
	border-top:2px solid #666;
    height: 30px;
}

.member_delete_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.member_delete_tbl td{
	border-top:2px solid #666;
    height: 30px;
}

.machine_register_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.machine_register_tbl td{
	border-top:2px solid #666;
    height: 30px;
}

.machine_modify_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.machine_modify_tbl td{
	border-top:2px solid #666;
    height: 30px;
}

.machine_delete_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.machine_delete_tbl td{
	border-top:2px solid #666;
    height: 30px;
}

.member_auth_register_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.member_auth_register_tbl td{
	border-top:2px solid #666;
    height: 30px;
}

.member_auth_modify_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.member_auth_modify_tbl td{
	border-top:2px solid #666;
    height: 30px;
}

.member_auth_delete_tbl{

	width:40%; text-align:center;
	border:1px solid #666;
	border-collapse: collapse; 
	border-spacing: 0;
	text-align: center;
}

.member_auth_delete_tbl td{
	border-top:2px solid #666;
    height: 30px;
}