@charset 'UTF-8';

*{
 	font-family: 'NanumGothic', sans-serif;
}

a:link{
	color:#000;
	text-decoration:none;
}
a:visited{
	color:#000;
	text-decoration:none;
}

a:hover{
	color:#000;
	text-decoration:none;
}

.barcode_tbl{
    border:1px solid #e2e2e2;
	border-collapse: collapse;
}

.barcode_tbl td{
	border-top:1px solid #e2e2e2;
	border-collapse: collapse; 
	border-spacing: 0;
	margin: 0 auto;
}

.barcode_tbl .td_header{
    text-align: center;
    background-color:#e6e6e6;
}

.barcode_tbl .td_content{
	margin: 0 auto;
    text-align: center;
}

.txt_center{
	text-align: center;	
}